@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: rotate(0deg) !important; /* Rotate back to normal on hover */
  box-shadow: 0 10px 15px rgba(59, 130, 246, 0.15);

}


.card:hover img {
  transform: scale(1.0); /* Zoom the image */
}